@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* navBar*/
.navbar {
    position:fixed;
    width:100%;
    padding:30px 0;
    font-family: 'Poppins', sans-serif;
    transition: all 0.2 ease-in;
    z-index: 999;
}
.navbar.sticky {
    padding: 15px 0;
    background: #557788;
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .menu li {
    list-style: none;
    display: inline-block; 
}
.navbar .menu li a{
    display: block;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: all 0.2s ease-in;
}
.navbar .menu li a:hover{
    color: #557788;
}
.navbar.sticky .menu li a:hover{
    color: #2b4552;
    transition: all 0.2s ease-in;
}.menu-btn {
    color: #FFF;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
/* Home Page*/
.home {
    display:flex;
    background: url("frontPage1.jpg") no-repeat;
    background-position: 25% 48%;
    height: auto;
    width: auto;
    color: #eeeae7;
    min-height: 500px;
    font-family: 'Poppins', sans-serif;
}
.home .max-width {
    margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
    color: white;
    font-size: 27px;
}
.home .home-content .text-2 {
    color: white;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3 {
    color: white;
    font-size: 40px;
    margin: 5px 0;
}
/* GENERAL SECTION STYLING */
section {
    padding: 100px 0;
}
.aboutMe .aboutMe-content,
.technicalSkills .technicalSkils-content,
.projects .projects-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;  
}
section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #2b4552;
    transform: translateX(-50%);
}

/*about*/
.aboutMe {
    font-family: 'Poppins', sans-serif;  
    background-color: #eeeae7
}
.aboutMe .aboutMe-content .left {
    width: 45%;
}
.aboutMe .aboutMe-content .left img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
}
.aboutMe .about-content .right {
    width: 55%;
}
.about .aboutMe-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.aboutMe .aboutMe-content .right p {
    text-align: justify;
}
.aboutMe .about-contentMe .right a {
    display: inline-block;
    background: #557788;
    color: #2b4552;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #557788;
    transition: all 0.2s ease-in;
}
.aboutMe .aboutMe-content .right a:hover {
    color: #557788;
    background: none;
}
/* SKILLS SECTION STYLING */
.technicalSkills {
    font-family: 'Poppins', sans-serif;
    background-color: #eeeae7;
}

.technicalSkills .technicalSkills-content .column {
    width: calc(50% - 30px);
}
.technicalSkills .technicalSkills .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.technicalSkills .technicalSkills .left p {
    text-align: justify;
}
.technicalSkills .technicalSkills.right {
    align-self: center;
}
.technicalSkills .technicalSkills .right .row {
    width: 100%;
    margin-left: 75px;
    transition: all 0.3s ease;
}
.technicalSkills .technicalSkills .right .row img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    vertical-align: middle;
    margin-left: 30px;
    margin-top: 30px;
}
.technicalSkills .technicalSkills .right .row i {
    font-size: 75px;
}
/* contact */
.contact {
    background-color: #eeeae7;
    font-family: 'Poppins', sans-serif;
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}
.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p {
    text-align: justify;
}
.contact .contact-content .left .icons {
    margin: 10px 0;
}
.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info {
    margin-left: 30px;
}
.contact .contact-content .row i {
    font-size: 30px;
    width: 30px;
    color: #2b4552;
}
.contact .contact-content .right .row i {
    font-size: 40px;
}
.contact .contact-content .right .row .info .sub-title a {
    color: #2b4552;;
}
.contact .contact-content .right .row .info .sub-title a:hover {
    text-decoration: underline;
    font-weight: 700;
}
/* footer */
footer {
    font-family: 'Poppins', sans-serif;
    background-color: #eeeae7;
    padding: 20px 23px;
}
footer span {
    color: #2b4552;
}
/* RESPONSIVE MEDIA QUERY START */
@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1287px) {
    .technicalSkills .technicalSkills-content .right .row img {
        width: 80px;
        height: 80px;
        margin-left: 22px;
        margin-top: 22px;
    }
}

@media (max-width: 1150px) {
    .about .about-content .left img {
        width: 350px;
        height: 350px;
    }
    .technicalSkills .technicalSkills-content .right .row img {
        width: 65px;
        height: 65px;
        margin-left: 20px;
        margin-top: 20px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 921px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #abc5c9;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2 {
        font-size: 70px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .max-width {
        max-width: 800px;
    }
    .aboutMe .aboutMe-content .column {
        width: 50%;
    }
    .aboutMe .aboutMe-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .aboutMe .aboutMe-content .right {
        flex: 100%;
    }
    .technicalSkills .technicalSkills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
    technicalSkills .technicalSkills-content .right .row {
        margin-left: 0px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    .home .home-content .text-3 {
        font-size: 32px;
    }
    .technicalSkills .technicalSkills-content .column {
        width: 100%;
    }
}